# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular / Frontend build
dist/
.angular/
.cache/

# Logs
logs
*.log

# Environment variables
.env.local
.env.development
.env.production
!.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker (opcional)
*.pid
*.seed
*.pid.lock